.hello {
  color: red;
}
#map {
  width: 100%;
  height: 500px;
}


// #map {
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	right: 0;
// 	left: 0;
// 	width: 100%;
// }
//
// .map-overlay {
// 	display: flex;
// 	position: absolute;
// 	background-color: rgba(255,150,150,0.3);
// 	font: 'Abel', 'Helvetica Neue', Arial, Helvetica, sans-serif;
// 	cursor: pointer;
// 	user-select: none;
// 	color: #8e3433;
// }
//
// @media screen and (orientation: landscape) {
// 	.map-overlay {
// 		flex-flow: column nowrap;
// 		justify-content: flex-start;
// 		width: 30vw;
// 		height: 100vh;
// 		top: 0;
// 		right: 0;
// 		margin: 0;
// 		overflow-x: hidden;
// 		overflow-y: scroll;
// 		-webkit-overflow-scrolling: touch;
// 		-ms-overflow-style: -ms-autohiding-scrollbar;
// 	}
// }
//
// @media screen and (orientation: portrait) {
// 	.map-overlay {
// 		flex-flow: row nowrap;
// 		justify-content: flex-start;
// 		width: 100vw;
// 		height: 30vh;
// 		bottom: 0;
// 		margin: 0;
// 		overflow-x: scroll;
// 		overflow-y: hidden;
// 		-webkit-overflow-scrolling: touch;
// 		-ms-overflow-style: -ms-autohiding-scrollbar;
// 	}
// }
//
// .map-overlay .item-image {
// 	border-radius: 5px;
// 	display: flex;
// }
//
// @media screen and (orientation: landscape) {
// 	.map-overlay .item-image {
// 		flex: 1 1 auto;
// 		min-height: 32%;
// 		height: 32%;
// 		margin: 4px;
// 		flex-flow: column nowrap;
// 		justify-content: flex-end;
// 	}
// }
//
// @media screen and (orientation: portrait) {
// 	.map-overlay .item-image {
// 		flex: 1 1 auto;
// 		min-width: 47.5%;
// 		margin: 4px;
// 		flex-flow: column nowrap;
// 		justify-content: flex-end;
// 	}
// }
//
// .map-overlay .item-image .transparant-banner {
// 	background-color: rgba(255,245,245,0.8);
// 	color: #8e3433;
// 	padding: 3% 10%;
// 	border-radius: 0 0 5px 5px;
// 	display: flex;
// 	flex: 0 1 auto;
// 	flex-flow: column nowrap;
// 	justify-content: space-around;
// 	min-height: 26%;
// }
//
// .name-tag {
// 	flex: 0 1 auto;
// 	font-size: 10px;
// }
//
// .distance-tag {
// 	flex: 0 1 auto;
// 	font-size: small;
// }
